#eboard-container {
    height: 100%;
}

#profiles-container {
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 1000px) {
    #profiles-container {
        padding-left: 0%;
        padding-right: 0%;
    }
}

/* --- Profile --- */

.profile {
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-bottom: 30px;
}

.profile-image {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image>img {
    width: 8vw;
    border-radius: 100%;
}

.profile-info {
    grid-column-start: 2;
}

.profile-name {
    font-size: 2.3vw;
    font-weight: bold;
}

.profile-position {
    font-size: 1.5vw;
    font-style: italic;
    color: var(--old-rose);
    text-align: left;
}

.profile-hometown {
    margin: 0;
}

.profile-info > p {
    font-size: 1.0vw;
}

@media (max-width: 1000px) {
    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile-image {
        /* background-color: red; */
        margin-bottom: 3%;
    }

    .profile-image>img {
        width: 20vw;
    }

    .profile-info {
        text-align: center;
    }

    .profile-name {
        font-size: 4vw;
    }
    
    .profile-position {
        font-size: 3vw;
        text-align: center;
    }

    .profile-info> p {
        font-size: 2vw;
    }
}

/* --- Red Horizontal Bar --- */

.redbar-container {
    background-color: var(--old-rose);
    height: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .redbar-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* --- END OF CSS FILE --- */