/* Define color scheme */
:root {
    --old-rose: #8A1538;
    --gray: #7C878E;
    --old-rose-shade: #720a29;
  }
  
  /* Import Inria-Sans font faces */
  @font-face {
    font-family: 'Inria-Sans';
    src: url('../fonts/InriaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inria-Sans';
    src: url('../fonts/InriaSans-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inria-Sans';
    src: url('../fonts/InriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* General styles */
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inria-Sans';
  }
  
  /* View container layout */
  #view-container {
    width: 100vw;
    height: 100vh;
  }
  
  /* Sidebar styles */
  #sidebar-container {
    background-color: var(--old-rose);
    width: 40%;
    color: var(--gray);
  }
  
  /* Header styles */
  #navbar {
    background-color: var(--old-rose);
    font-family: 'Inria-Sans';
  }

  
  /* Content styles */
  #content-container {
    background-color: var(--gray);
    width: 100%;
    height: 100%;
  }
  
  #delta-t {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 6vw;
  }